body {
    font-family: sans-serif;
    background-color: #a7d1ab;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center;     /* Centraliza o conteúdo horizontalmente */
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 90%;
    max-width: 400px;
    background-color: #e0ddd5;
    box-sizing: border-box;
    padding: 20px; /* Adiciona espaçamento interno */
    border-radius: 8px; /* Deixa a caixa mais suave */
}

.header {
    background-color: #1a5f38;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.visitantes h2 {
    color: #1a5f38;
    text-align: center;
    margin-bottom: 10px;
}

.add-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
}

.add-button i {
    margin-right: 5px;
}

.visitantes-lista {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background-color: white;
}

.card-header {
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 10px;
}

.card-content p {
    margin: 5px 0;
}

.card-content .label {
    font-weight: bold;
}

.footer {
    background-color: #a7d1ab;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: #1a5f38;
    font-size: 16px;
}
